<ion-view title="Page">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Enter session length min">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Enter break length min">
            </label>
        </form>
        <button class="button button-stable button-block ">Submit</button>
    </ion-content>
</ion-view>